*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
}
body {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(vecteezy_hand-drawn-graffiti-style-squiggles-doodle-chalk-symbols_.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
  padding: 20px 0;
}

.frame {
  width: min(90%, 400px);
  aspect-ratio: 1;
  border-radius: 10px;
  img {
    width: 100%;
    aspect-ratio: 1;
  }
}
.attr {
  position: absolute;
  padding: 0.6rem;
  border-radius: 12px;
  backdrop-filter: blur(12px);
  border: 2px solid rgb(0, 0, 0,0.2);
  bottom: 1%;
  margin: 0 8px;
  p {
    font-weight: bold;
  }
}
.search-box {
  width: min(90%, 400px);
  height: 2rem;
  margin-top: 8px;
  input {
    width: 70%;
    height: 100%;
    outline: none;
    border: none;
    border-top: 1px solid orange;
    box-shadow: 2px 4px 6px rgb(0, 0, 0, 0.2);
    padding-left: 8px;
    margin-right: 16px;
  }

  button {
    all: unset;
    background-color: green;
    color: white;
    height: 100%;
    padding: 0 8px;
    box-shadow: 2px 4px 6px rgb(0, 0, 0, 0.2);
    border-radius: 8px;
    cursor: pointer;
  }
}

.inactive{
  background-color: grey !important;
}